/* COMMON */
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STROKE HEART */
.heart__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.heart__wrapper .heart {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 4rem;
  stroke: #d94d16;
  stroke-width: 0.5rem;
  stroke-linecap: round;
  animation-duration: 3s;
  animation-name: heart;
  animation-iteration-count: infinite;
}

@keyframes heart {
  from {
    stroke-dasharray: 67rem;
    stroke-dashoffset: 67rem;
  }

  to {
    stroke-dashoffset: 0;
    stroke-dasharray: none;
  }
}
